.container{
    margin-left: 150px;
    margin-top: 100px;
    display: flex;

}

body{
    margin: 0;
    padding: 0;
}

.pic{
    background-color: aquamarine;
    height: 485px;
    width: 400px;
    margin-left: 18%;
    
}
img{
    height: 200px;
    width: 150px;
    margin-top: 35%;
    margin-left: 30%;
    border-radius: 20px;
    
    
}